---
import Button from "@components/nav/Button.astro";
import { formatFile } from "@/lib/functions";
import { utapi } from "@/server/uploadthing";

// ONE DAY I'LL FIX THIS MESS
type DeepWriteable<T> = { -readonly [P in keyof T]: DeepWriteable<T[P]> };

let files = await utapi.listFiles();

type Writeable = DeepWriteable<typeof files>;

let mutFiles = files as Writeable;
mutFiles.files.sort((a, b) => a.name.localeCompare(b.name));
---

<table class="w-full max-[440px]:w-96">
    <thead>
        <tr
            class="border-b border-brand-white-dark text-left font-mono uppercase text-brand-black [&_th]:font-normal"
        >
            <th></th>
            <th>Filename</th>
            <th>Duration</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="font-mono font-normal uppercase">
        {
            mutFiles.files.map((file) => (
                <tr class="group relative border-b border-brand-white-dark hover:bg-brand-white-dark/20">
                    <td class="py-2 pl-2">
                        <Button
                            variant="ghost"
                            class="file-button font-mono uppercase"
                            data-url={formatFile(file.key)}
                            data-filename={file.name}
                        >
                            [Play]
                        </Button>
                    </td>
                    <td class="py-2">
                        <p class="w-fit bg-brand-black px-1 pt-[3px] text-brand-real-white">
                            {file.name}
                        </p>
                    </td>
                    <td class="py-2">
                        <p
                            id={`duration-${file.name}`}
                            class="w-fit bg-brand-black px-1 pt-[3px] text-brand-real-white"
                        >
                            0:00
                        </p>
                    </td>
                    <td class="flex justify-end gap-2 py-2 pr-2">
                        <Button
                            class="download-webm rounded-none pb-0.5 font-mono uppercase"
                            data-url={formatFile(file.key)}
                            data-filename={file.name}
                        >
                            [webm]
                        </Button>
                    </td>
                </tr>
            ))
        }
    </tbody>
</table>

<script>
    import { Howl } from "howler";
    import { formatDuration, downloadResource } from "@/lib/functions";

    document.addEventListener("astro:page-load", () => {
        const playButton =
            document.querySelectorAll<HTMLButtonElement>(".file-button");
        const sounds: { [key: string]: Howl } = {};

        const webmButton =
            document.querySelectorAll<HTMLButtonElement>(".download-webm");

        webmButton.forEach((button) => {
            const url = button.dataset.url;
            const filename = button.dataset.filename;
            if (!url || !filename) return;

            button.addEventListener("click", () => {
                downloadResource(url, filename);
            });
        });

        playButton.forEach((button) => {
            const url = button.dataset.url;
            const filename = button.dataset.filename;
            if (!url || !filename) return;

            sounds[filename] = new Howl({
                src: [url],
                html5: true,
                format: "webm",
                preload: true,
                onload: () => {
                    const durationElement = document.getElementById(
                        `duration-${filename}`
                    );
                    if (durationElement && sounds[filename]) {
                        durationElement.innerText = formatDuration(
                            sounds[filename].duration()
                        );
                    }
                },
                onplay: () => {
                    button.innerText = "[Stop]";
                },
                onstop: () => {
                    button.innerText = "[Play]";
                },
                onend: () => {
                    button.innerText = "[Play]";
                },
            });

            button.addEventListener("click", () => {
                Object.values(sounds).forEach((sound) => {
                    if (sound !== sounds[filename] && sound.playing()) {
                        sound.stop();
                    }
                });

                sounds[filename]?.playing()
                    ? sounds[filename].stop()
                    : sounds[filename]?.play();
            });
        });
    });
</script>
